{% load humanize %}

<div id="comment-{{ com.id }}" class="comment" style="margin-left: {% widthratio com.level 1 3 %}%">
    <div class="toptext">
        <span class="info">By {{ com.created_by.username }} {{ com.created_at|naturaltime }} | </span>
        <div class="buttons">
            <a class="answer_comment">answer</a>
            <span> | </span>
            {% if com.created_by.id == user.id %}
                {% if not com.deleted %}
                    <a hx-get="/comment/{{ com.id }}/edit" hx-target="#comment-{{com.id}} > .text" hx-swap="outerHMTL">
                        edit
                    </a>
                {% endif %}
                <a class="delete_comment"
                   hx-delete="/comment/{{ com.id }}" hx-target="#comment-{{com.id}} > .text"
                   hx-confirm="Are you sure you want to delete this comment?" hx-swap="innerHTML">delete</a>
            {% endif %}
        </div>
    </div>

    {% include "website/comment_text.html" with com=com %}

    <form class="comment_form" action="{% url 'comment' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" value="{{ publication.id }}" name="pubid">
        <input type="hidden" value="{{ com.id }}" name="parent">
        <input type="submit" value="submit">
    </form>
</div>

{% for child_comment in com.comments.all %}
    {% include "website/comment_t.html" with com=child_comment pub=pub %}
{% endfor %}
