<div id="{{ com.id }}" class="comment" style="margin-left: {% widthratio com.level 1 3 %}%">
    <div class="toptext">
        <div class="leftside">
            <span class="votes">{{ com.votes }}</span>
            {% if request.user in com.voters.all or request.user == com.created_by %}
                <span class="alreadyvoted">↑</span>
            {% elif request.user.is_authenticated %}
                <span class="uparrow">↑</span>
            {% else %}
                <span></span>
            {% endif %}
        </div>

        <div class="rightside">
            <span class="info">By {{ com.created_by.username }}</span>
            <div class="buttons">
                <a class="answer_comment">answer</a>
                <a class="answer_comment">other</a>
            </div>

        </div>
    </div>

    <div class="text">{{ com }}</div>

    <form class="comment_form" action="{% url 'comment' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" value="{{ publication.id }}" name="pubid">
        <input type="hidden" value="{{ com.id }}" name="parent">
        <input type="submit" value="submit">
    </form>
</div>