{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">

<a href="{% url 'submit' %}">Submit</a>

{% if authenticated %}
    <a href="{% url 'logout_view' %}">Logout ({{ user.get_username }})</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

{% if publications %}
    <ul>
        {% for pub in publications %}
            {% include "website/pubcard.html" with pub=pub %}
            <br>
            <br>
            </hline>
        {% endfor %}
    </ul>
{% else %}
    <p>This is empty</p>
{% endif %}