{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">

<div id="main">

    <nav>
        <a href="{% url 'submit' %}">Submit</a>

        {% if authenticated %}
            <a href="{% url 'logout_view' %}">Logout ({{ user.get_username }})</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>

    <div id="publications">
        {% for pub in publications %}
        {% include "website/pubcard.html" with pub=pub %}
        <br>
        {% endfor %}
    </div>

    <footer>
        By Dylan Socolobsky - 2020
    </footer>

</div>

<script src="{% static 'website/js/linkeadisimo.js' %}"></script>
