{% load humanize %}

<div id="{{ pub.id }}" class="publication">
    <div class="leftside">
        <span class="votes">{{ pub.votes }}</span>
        <span class="uparrow">↑</span>
    </div>
    <div class="rightside">
        <div class="maintext">
            <a class="title"
               href={% if not pub.link %} "{% url 'publication' pub.id %}" {% else %} {{ pub.link }} {% endif %}>
                {{ pub.title }}</a>

            <div class="buttons">
                <a href="{% url 'publication' pub.id %}">comments</a>
            </div>
        </div>
        <div class="subtext">
            <p>By {{ pub.created_by.username }} {{ pub.timestamp|naturaltime }}</p>
        </div>
    </div>
</div>