{% load humanize %}

<li id="{{ pub.id }}" class="publication">
    <div class="leftside">
        <span class="votes">·</span>
    </div>
    <div class="rightside">
        <div class="maintext">
            <a class="title"
               href={% if not pub.link %} "{% url 'publication' pub.id %}" {% else %} {{ pub.link }} {% endif %}>
                {{ pub.title }}</a>
        </div>
        <div class="subtext">
            <span>By {{ pub.created_by.username }} {{ pub.timestamp|naturaltime }} |</span>
            <a href="{% url 'publication' pub.id %}">
                {% if pub.comments.count == 0 %}
                    no
                {% else %}
                    {{ pub.comments.count }}
                {% endif %}
                comments
            </a>
        </div>
    </div>
</li>
