{% extends 'website/base.html' %}
{% load mptt_tags %}

{% block content %}

    {% include "website/pubcard.html" with pub=publication %}

    <form id="parentform" action="{% url 'comment' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" value="{{ publication.id }}" name="pubid">
        <input type="hidden" value="" name="parent">
        <input type="submit" value="Post a Comment">
    </form>

    <div id="comments">
        {% recursetree publication.comments.all %}
            {% include "website/comment_t.html" with com=node pub=publication %}

            {% if not node.is_leaf_node %}
                {{ children }}
            {% endif %}

            {% if node.is_root_node %}
                <br>
            {% endif %}
        {% endrecursetree %}
    </div>

{% endblock %}
