{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">

{% include "website/pubcard.html" with pub=publication %}

{% load mptt_tags %}

<h3>Post a comment</h3>
<form action="{% url 'comment' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" value="{{ publication.id }}" name="pubid">
    <input type="hidden" value="" name="parent">
    <input type="submit" value="submit">
</form>

{% recursetree publication.comments.all %}
    {% include "website/comment_t.html" with com=node pub=publication %}

    {% if not node.is_leaf_node %}
        {{ children }}
    {% endif %}

    {% if node.is_root_node %}
    <br>
    {% endif %}
{% endrecursetree %}

<script src="{% static 'website/js/linkeadisimo.js' %}"></script>
