html,body {
    height: 90%;
}

body > footer {
    background-color: lightgrey;
    margin-top: 0;
}

nav {
    display: flex;
    padding: 0.10em 1em;
    justify-content: space-between;
    background-color: lightgrey;
}

nav .leftside {
    display: flex;
}

nav .leftside span {
    margin-left: 5px;
    color: #808080;
}

nav .leftside a {
    margin-left: 5px;
}

nav .rightside {
    display: flex;
    justify-content: flex-end;
}

nav .rightside span {
    margin-left: 5px;
}

nav .rightside a {
    margin-left: 5px;
}

main {
    padding-top: 10px;
    background-color: #f9f9f9;

    height:auto !important;
    min-height:100%;
}

.publication {
    display: flex;
}

.leftside {
    display: flex;
}

.leftside .votes {
    color: #609ab6;
    text-align: right;
    min-width: 21px;
}

.uparrow {
    color: black;
    cursor: pointer;
}

.uparrow:hover {
    color: limegreen;
}

.alreadyvoted {
    color: darkgreen;
}

.publication .rightside {
    display: flex;
    margin-left: 12px;
    flex-direction: column;
}

.publication .maintext {
    display: flex;
}

.publication .maintext .title {
    text-decoration: none;
}

.publication .maintext .title:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
    font-size: 12px;
}

.buttons a {
    color: inherit;
    margin-top: 2px;
    margin-left: 4px;
    text-decoration: none;
}

.buttons a:hover {
    text-decoration: underline;
}

.publication .subtext {
    font-size: 0.8em;
}

.publication .subtext span {
    color: #808080;
    margin-top: 0;
}

.publication .subtext a {
    color: #808080;
    text-decoration: underline;
}

/*
##########################
PUBLICATION
##########################
 */


#parentform {
    margin: auto auto auto 2%;
}

#comments {
    margin-top: 10px;
    margin-left: 2%;
}

.comment {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 70%;
}

.comment .toptext {
    display: flex;
    justify-content: left;
    background-color: slategray;
    color: #cdcdcd;
    padding-left: 0.5em;
}

.comment .toptext .info {
    font-size: 14px;
}

.comment .toptext a {
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.comment .text {
    background-color: lightgrey;
    padding-left: 0.5em;
}

.comment form {
    display: none;
}

@media only screen and (max-width: 800px) or (-webkit-min-device-pixel-ratio: 2) {
    #parentform {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 50%;
    }

    .comment {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow-wrap: break-word;
    }
}

/*
##########################
   LOGIN FORM
##########################
 */

.main-form {
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-form input[type='submit'] {
    margin: auto;
}

.submit-form {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.submit-form input[type='submit'] {
    margin: auto;
}