* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: "sans-serif";
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

body > * {
    flex-shrink: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
}

#publications {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
    flex: 1;
    background-color: whitesmoke;
}

footer {
    background-color: lightgrey;
}

.publication {
    margin: 8px 4px 4px 4px;
    display: flex;
}

.publication .leftside {
    display: flex;
}

.publication .leftside .votes {
    color: #609ab6;
    text-align: right;
    min-width: 21px;
}

.publication .leftside .uparrow {
    color: grey;
    cursor: pointer;
}

.publication .leftside .uparrow:hover {
    color: limegreen;
}

.publication .rightside {
    display: flex;
    margin-left: 12px;
    flex-direction: column;
}

.publication .maintext {
    display: flex;
}

.publication .maintext .title {
    text-decoration: none;
}

.publication .maintext .title:hover {
    text-decoration: underline;
}

.publication .maintext .buttons {
    display: flex;
    font-size: 12px;
}

.publication .maintext .buttons a {
    color: inherit;
    margin-top: 4px;
    margin-left: 4px;
    text-decoration: none;
}

.publication .maintext .buttons a:hover {
    text-decoration: underline;
}

.publication .subtext p {
    display: flex;
    justify-content: flex-start;
    color: lightgray;
}

.comment {
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment .toptext {
    background-color: lightgrey;
}

.comment .toptext .votes {
    min-width: 21px;
    width: auto;
    color: lightskyblue;
    font-size: 19px;
    display: inline-block;
}

.comment .toptext .info {
    font-size: 14px;
}

.comment .toptext .links {
    font-size: 12px;
    text-decoration: none;
}

.comment form {
    margin: 0;
    padding: 0;
    display: none;
}